@charset "UTF-8";
/* font-family: din-condensed,sans-serif;
font-weight: 400;
font-style: normal; */
@font-face {
  font-family: "NeueHaasUnicaW1G-Regular";
  src: url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.eot");
  src: url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.woff") format("woff"), url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.svg#NeueHaasUnicaW1G-Regular") format("svg");
}

/*===========
base
===========*/
html {
  overflow-x: hidden;
}

/* ハンバーガーメニューを開いたときに背景固定 */
.scroll-prevent {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  color: #222222;
  font-weight: bold;
  background-color: #fff;
  background-image: linear-gradient(90deg, #f0f0f0 1px, #ffffff 1px, #ffffff 333px);
  background-size: 26.09% 100%;
  background-position-x: center;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 767px) {
  body {
    background-image: liner-gradient(90deg, #f0f0f0 1px, #ffffff 1px, #ffffff 110px);
    background-size: 29.33% 100%;
  }
}

body::before {
  content: "";
  position: absolute;
  top: 51.6vw;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 1510px;
  background-color: rgba(42, 132, 172, 0.38);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 74%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 74%);
}

@media (max-width: 767px) {
  body::before {
    top: 407px;
    height: 1637px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  }
}

/* 固定ボタン */
.fix_btn {
  position: fixed;
  bottom: 6.1%;
  right: 3.1%;
  z-index: 2;
  display: block;
  width: 268px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .fix_btn {
    bottom: 10px;
    right: 10px;
    width: 174px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
}

.fix_btn p {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .fix_btn figure {
    width: 17.9px;
  }
}

.fix_btn figure img {
  vertical-align: middle;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.fix_btn:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.inner {
  max-width: 1048px;
  width: 100%;
  margin: 0 auto;
  padding: 0 22px;
}

.section_title {
  font-size: 60px;
  color: #fee757;
  letter-spacing: 0.04em;
}

@media (max-width: 767px) {
  .section_title {
    font-size: 32px;
  }
}

.side_txt {
  letter-spacing: 0.014em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .side_txt {
    display: none;
  }
}

.side_txt::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #222222;
  margin-right: 12.5px;
}

/*===========
header
===========*/
.header {
  width: 94%;
  padding: 48px 0 45px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .header {
    width: 88%;
    padding: 28.5px 0 180.5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header h1 {
  font-size: 32px;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 14px;
  }
}

.header .burger_btn {
  position: relative;
  width: 67px;
  height: 55px;
  z-index: 4;
}

@media (max-width: 767px) {
  .header .burger_btn {
    width: 38px;
    height: 30px;
  }
}

.header .burger_btn .menu {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  .header .burger_btn .menu {
    font-size: 12px;
  }
}

.header .burger_btn .menu::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 150%;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header .burger_btn .menu::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 220%;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header .burger_btn.close .menu {
  color: #ffffff;
}

.header .burger_btn.close .menu::before {
  background: #ffffff;
  -webkit-transform: translateY(10px) rotate(15deg);
          transform: translateY(10px) rotate(15deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 767px) {
  .header .burger_btn.close .menu::before {
    -webkit-transform: translateY(5px) rotate(15deg);
            transform: translateY(5px) rotate(15deg);
  }
}

.header .burger_btn.close .menu::after {
  background: #ffffff;
  -webkit-transform: translateY(-6px) rotate(-15deg);
          transform: translateY(-6px) rotate(-15deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 767px) {
  .header .burger_btn.close .menu::after {
    -webkit-transform: translateY(-4px) rotate(-15deg);
            transform: translateY(-4px) rotate(-15deg);
  }
}

.header .header_nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #222222;
  z-index: 3;
}

.header .header_nav .nav_list {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 6% 0 5%;
}

@media (max-width: 767px) {
  .header .header_nav .nav_list {
    padding: 94px 0 67px;
  }
}

.header .header_nav .nav_list li {
  color: #ffffff;
  font-size: 60px;
}

@media (max-width: 767px) {
  .header .header_nav .nav_list li {
    font-size: 40px;
  }
}

/*===========
firstView
===========*/
/* pc表示 */
.fv_pc {
  height: calc(100vh - 147px);
  background-image: url(../img/fv.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 89.2%;
  position: relative;
  padding-top: 27%;
  padding-left: 17.4%;
}

@media (max-width: 767px) {
  .fv_pc {
    display: none;
  }
}

.fv_pc .copy h2 {
  font-size: 7.8125vw;
  line-height: 1.05;
  letter-spacing: 0.12em;
}

.fv_pc .copy h2 span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  -webkit-text-fill-color: #fff;
}

.fv_pc .copy p {
  font-size: 3.28125vw;
  letter-spacing: 0.04em;
  margin-top: 55.5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
  -webkit-text-fill-color: transparent;
}

.fv_pc .copyright {
  position: absolute;
  top: 31.1%;
  right: 14px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  font-size: 12px;
  letter-spacing: 0.14em;
}

.fv_pc .arrow {
  position: absolute;
  left: -1.2%;
  bottom: 0;
  background: #222222;
  width: 79px;
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.fv_pc .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.5px 0 3.5px 9px;
  border-color: transparent transparent transparent #222222;
}

/* sp表示 */
.fv_sp {
  display: none;
  height: calc(100vh - 180.5px);
  background-image: url(../img/fv-sp.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 93.9%;
  position: relative;
  padding: 0;
}

@media (max-width: 767px) {
  .fv_sp {
    display: block;
  }
}

.fv_sp .copy h2 {
  font-size: 36px;
  line-height: 1.55;
  letter-spacing: 0.12em;
  position: absolute;
  top: -106px;
  left: 7%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  -webkit-text-fill-color: #fff;
}

.fv_sp .copy h2 span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #222222;
}

.fv_sp .copyright {
  position: absolute;
  top: 65px;
  right: 2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  font-family: "din-condensed";
  font-size: 9px;
  letter-spacing: 0.14em;
}

.fv_sp .arrow {
  position: absolute;
  top: 300px;
  left: 8px;
  background: #222222;
  width: 56px;
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.fv_sp .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.5px 0 3.5px 9px;
  border-color: transparent transparent transparent #222222;
}

/*===========
point
===========*/
.point {
  padding: 31.9% 0 173px;
  position: relative;
}

@media (max-width: 767px) {
  .point {
    padding: 65px 0 185.5px;
  }
}

.point .loop_top {
  position: absolute;
  top: 20%;
  z-index: -1;
}

@media (max-width: 767px) {
  .point .loop_top {
    top: 12.5%;
  }
}

.point .loop_anim {
  -webkit-animation: loop 10s linear infinite;
          animation: loop 10s linear infinite;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@media (max-width: 767px) {
  @-webkit-keyframes loop {
    0% {
      -webkit-transform: translateX(-20%);
              transform: translateX(-20%);
    }
    100% {
      -webkit-transform: translateX(-40%);
              transform: translateX(-40%);
    }
  }
  @keyframes loop {
    0% {
      -webkit-transform: translateX(-20%);
              transform: translateX(-20%);
    }
    100% {
      -webkit-transform: translateX(-40%);
              transform: translateX(-40%);
    }
  }
}

.point .loop_inline {
  padding-right: 0.5em;
  font-size: 200px;
  letter-spacing: 0.04em;
  color: rgba(42, 132, 172, 0.11);
}

@media (max-width: 767px) {
  .point .loop_inline {
    font-size: 56px;
  }
}

.point .loop_bottom {
  display: none;
  position: absolute;
  top: 60%;
  z-index: -1;
}

@media (max-width: 767px) {
  .point .loop_bottom {
    display: block;
  }
}

.point .section_title {
  margin: 0 auto 59px;
  text-align: center;
}

@media (max-width: 767px) {
  .point .section_title {
    margin-bottom: 192.5px;
  }
}

.point .section_title::after {
  content: "選ばれる3つのポイント";
  display: block;
  font-size: 21px;
  color: #222222;
  margin-top: 14px;
}

@media (max-width: 767px) {
  .point .section_title::after {
    font-size: 16px;
  }
}

.point .point_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 68px;
}

@media (max-width: 767px) {
  .point .point_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 104px;
  }
}

.point .point_list li {
  width: 27.5%;
  text-align: center;
}

@media (max-width: 767px) {
  .point .point_list li {
    width: 222px;
    margin: 0 auto 95px;
  }
}

.point .point_list li figure {
  width: 118px;
  margin: 0 auto 25px;
}

@media (max-width: 767px) {
  .point .point_list li figure {
    width: 104px;
  }
}

.point .point_list li figure img {
  min-height: 115px;
}

.point .point_list li p {
  font-size: 20px;
  color: #262626;
}

@media (max-width: 767px) {
  .point .point_list li p {
    font-size: 16px;
  }
}

.point .point_img {
  margin-left: 10.8%;
}

@media (max-width: 767px) {
  .point .point_img {
    margin-left: 5.86%;
  }
}

.point .point_img img {
  width: 89.2%;
}

@media (max-width: 767px) {
  .point .point_img img {
    width: 94.1%;
  }
}

.point .point_txt {
  font-size: 21px;
  color: #222222;
  line-height: 2.286;
  letter-spacing: 0.12em;
  width: 52%;
  margin: 179px 0 0 10.8%;
}

@media (max-width: 767px) {
  .point .point_txt {
    font-size: 16px;
    max-width: 336px;
    width: 100%;
    margin: 57px 22px 0;
  }
}

.point .point_txt span {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #f8e5ea));
  background-image: linear-gradient(transparent 50%, #f8e5ea 50%);
}

.point .point_side {
  position: absolute;
  bottom: 97px;
  left: 4.8%;
}

/*===========
service
===========*/
/* 共通 */
.media_ttl {
  font-size: 38px;
  line-height: 1.39;
  letter-spacing: 0.07em;
  margin-bottom: 42px;
}

@media (max-width: 767px) {
  .media_ttl {
    font-size: 24px;
  }
}

.media_txt {
  font-size: 18px;
  line-height: 1.94;
  letter-spacing: 0.07em;
}

@media (max-width: 767px) {
  .media_txt {
    font-size: 16px;
  }
}

.service {
  padding-bottom: 140px;
}

.service .section_title {
  margin: 0 0 75.5px 10.8%;
}

@media (max-width: 767px) {
  .service .section_title {
    margin: 0 auto 20.5px;
  }
}

.service .media_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  position: relative;
}

@media (max-width: 767px) {
  .service .media_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 45px;
  }
}

.service .media_top .media_img_wrapper {
  width: 52.3%;
}

@media (max-width: 767px) {
  .service .media_top .media_img_wrapper {
    width: 100%;
    margin-bottom: 45px;
  }
}

.service .media_top .media_body {
  width: 44.7%;
  margin-top: 17.4%;
  margin-left: -7.6%;
}

@media (max-width: 767px) {
  .service .media_top .media_body {
    margin: 0;
    width: 100%;
    padding: 0 23px;
  }
}

@media (max-width: 767px) {
  .service .media_top .media_body .media_ttl {
    margin-bottom: 21px;
  }
}

.service .card_wrapper {
  max-width: 1048px;
  width: 100%;
  margin: 0 auto 189px;
  padding: 0 22px;
}

@media (max-width: 767px) {
  .service .card_wrapper {
    margin-bottom: 100px;
  }
}

.service .card_wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media (max-width: 767px) {
  .service .card_wrapper .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service .card_wrapper .card .card_inner {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .service .card_wrapper .card .card_inner {
    width: 100%;
  }
}

.service .card_wrapper .card .card_inner .card_list {
  width: 45%;
  min-width: 210px;
}

@media (max-width: 767px) {
  .service .card_wrapper .card .card_inner .card_list {
    min-width: 182px;
  }
  .service .card_wrapper .card .card_inner .card_list:first-of-type {
    min-width: 155px;
  }
}

.service .card_wrapper .card .card_inner .card_list dt {
  font-size: 21px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .service .card_wrapper .card .card_inner .card_list dt {
    margin-bottom: 0;
  }
}

.service .card_wrapper .card .card_inner .card_list figure {
  padding: 0 33%;
  margin-bottom: 22px;
}

@media (max-width: 767px) {
  .service .card_wrapper .card .card_inner .card_list figure {
    margin-bottom: 58px;
  }
}

.service .card_wrapper .card .card_inner .card_list figure img {
  min-height: 90px;
}

.service .card_wrapper .card .card_inner .card_list .card_body {
  font-size: 12px;
  text-align: left;
}

@media (max-width: 767px) {
  .service .card_wrapper .card .card_inner .card_list .card_body {
    display: none;
  }
}

.service .card_wrapper .card .card_inner .card_list .card_body li {
  line-height: 1.75;
  position: relative;
}

.service .card_wrapper .card .card_inner .card_list .card_body li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 8px;
  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 7px;
}

.service .card_wrapper .card .card_inner .card_list .card_body li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent #2a84ac;
}

.service .media_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .service .media_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service .media_bottom .media_img_wrapper {
  width: 42.7%;
  margin-right: 10.7%;
}

@media (max-width: 767px) {
  .service .media_bottom .media_img_wrapper {
    width: 100%;
  }
}

.service .media_bottom .media_body {
  width: 44.5%;
  margin-top: 4%;
  margin-right: -8.9%;
}

@media (max-width: 767px) {
  .service .media_bottom .media_body {
    width: 100%;
    margin-top: -8%;
    margin-right: 0;
    padding: 0 23px;
  }
}

.service .media_bottom .media_body p:first-of-type {
  font-size: 19.53125vw;
  letter-spacing: 0.04em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fbcc07;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.62);
}

/*===========
flow
===========*/
.flow .section_title {
  display: inline-block;
  padding: 82px 3.5% 20px 10.8%;
  background: #2a84ac;
}

@media (max-width: 767px) {
  .flow .section_title {
    display: block;
    width: 100%;
    padding: 105px 6.26% 36px;
  }
}

.flow .section_title::after {
  content: "問い合わせ後の流れについて";
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .flow .section_title::after {
    font-size: 14px;
  }
}

.flow .step_wrapper {
  height: 268px;
  width: 100vw;
  background: #2a84ac;
  position: relative;
}

@media (max-width: 767px) {
  .flow .step_wrapper {
    height: 317px;
  }
}

.flow .step_wrapper .step_list {
  position: absolute;
  top: 75px;
  right: 0;
  width: 89.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 94.6%;
    top: 0;
  }
}

.flow .step_wrapper .step_list .step_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list .step_inner {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.flow .step_wrapper .step_list .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 132px 28px;
  position: relative;
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list .step {
    padding: 80px 18px;
  }
}

.flow .step_wrapper .step_list .step .big_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 80px;
  letter-spacing: 0.04em;
  line-height: 0.9;
  font-family: "din-condensed";
  text-shadow: 1px 1px 0 rgba(34, 34, 34, 0.3), -1px 1px 0 rgba(34, 34, 34, 0.3), 1px -1px 0 rgba(34, 34, 34, 0.3), -1px -1px 0 rgba(34, 34, 34, 0.3);
}

@media (max-width: 1003px) {
  .flow .step_wrapper .step_list .step .big_txt {
    font-size: 6.25vw;
  }
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list .step .big_txt {
    font-size: 59px;
  }
}

.flow .step_wrapper .step_list .step .big_txt span {
  font-size: 180px;
}

@media (max-width: 1003px) {
  .flow .step_wrapper .step_list .step .big_txt span {
    font-size: 14.0625vw;
  }
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list .step .big_txt span {
    font-size: 133px;
    line-height: 0.8;
  }
}

.flow .step_wrapper .step_list .step .small_txt {
  position: relative;
  z-index: 2;
  font-size: 38px;
  line-height: 1.29;
}

@media (max-width: 1003px) {
  .flow .step_wrapper .step_list .step .small_txt {
    font-size: 2.96875vw;
  }
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list .step .small_txt {
    font-size: 21px;
  }
}

.flow .step_wrapper .step_list .step .small_txt span {
  font-size: 24px;
}

@media (max-width: 1003px) {
  .flow .step_wrapper .step_list .step .small_txt span {
    font-size: 1.875vw;
  }
}

@media (max-width: 767px) {
  .flow .step_wrapper .step_list .step .small_txt span {
    font-size: 14px;
  }
}

.flow .step_wrapper .step_list .step_1 {
  background: #ffffff;
}

.flow .step_wrapper .step_list .step_1 .big_txt {
  color: #ffffff;
}

.flow .step_wrapper .step_list .step_2 {
  background: #f5f5f5;
}

.flow .step_wrapper .step_list .step_2 .big_txt {
  color: #f5f5f5;
}

.flow .step_wrapper .step_list .step_3 {
  background: #dddddd;
}

.flow .step_wrapper .step_list .step_3 .big_txt {
  color: #dddddd;
}

.flow .step_wrapper .step_list .step_4 {
  background: #d0d0d0;
}

.flow .step_wrapper .step_list .step_4 .big_txt {
  color: #d0d0d0;
}

.flow .step_wrapper .flow_side {
  position: absolute;
  top: 180px;
  left: 5%;
  font-family: "din-condensed";
  letter-spacing: 0.04em;
}

/*===========
member
===========*/
.member {
  padding: 371px 0 193px;
  background: rgba(42, 132, 172, 0.38);
  position: relative;
  z-index: -1;
}

@media (max-width: 767px) {
  .member {
    padding: 197.5px 0 79px;
  }
}

.member .section_title {
  margin-bottom: 30px;
}

.member .section_title::after {
  content: "ボードメンバー";
  display: block;
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .member .section_title::after {
    font-size: 14px;
    margin-top: 5.5px;
  }
}

.member .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .member .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.member .media figure {
  width: 50%;
}

@media (max-width: 767px) {
  .member .media figure {
    width: 100%;
    margin-bottom: 38px;
  }
}

.member .media .profile {
  width: 42%;
  color: #fff;
  letter-spacing: 0.07em;
}

@media (max-width: 767px) {
  .member .media .profile {
    width: 100%;
  }
}

.member .media .profile dt p:first-of-type {
  font-size: 14px;
  margin-bottom: 10px;
}

.member .media .profile dt p:last-of-type {
  font-size: 30px;
  margin-bottom: 20px;
}

.member .media .profile dt p:last-of-type span {
  font-size: 18px;
}

.member .media .profile dd p {
  font-size: 14px;
  line-height: 2.43;
}

@media (max-width: 767px) {
  .member .media .profile dd p {
    font-size: 12px;
    line-height: 1.83;
  }
}

.member .media .profile dd p:first-of-type {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .member .media .profile dd p:first-of-type {
    margin-bottom: 25px;
  }
}

.member .side_txt {
  position: absolute;
  top: 1110px;
  left: 5.1%;
  font-family: "din-condensed";
  letter-spacing: 0.04em;
  color: #ffffff;
}

.member .side_txt::before {
  background: #ffffff;
}

/*===========
faq
===========*/
.faq {
  padding: 210px 0 258px;
}

@media (max-width: 767px) {
  .faq {
    padding: 264px 0 92.5px;
  }
}

.faq .section_title {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .faq .section_title {
    margin-bottom: 63.5px;
  }
}

.faq .section_title::after {
  content: "よくあるご質問はこちら";
  display: block;
  color: #222222;
  font-size: 20px;
  margin-top: 14px;
}

@media (max-width: 767px) {
  .faq .section_title::after {
    font-size: 14px;
    margin-top: 18.5px;
  }
}

.faq .ac {
  font-size: 24px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
  letter-spacing: 0.04em;
}

@media (max-width: 767px) {
  .faq .ac {
    font-size: 18px;
  }
}

.faq .ac .ac_parent {
  position: relative;
  padding-left: 20.5px;
  border-top: 1px solid #333333;
  cursor: pointer;
  height: 85px;
  /* プラスの横線 */
  /* プラスの縦線 */
  /* オープン時にopenクラスを付与（縦線を回転させて非表示に） */
}

@media (max-width: 767px) {
  .faq .ac .ac_parent {
    padding: 0;
  }
}

.faq .ac .ac_parent:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 19px;
  width: 20px;
  height: 1px;
  background: #222222;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq .ac .ac_parent:after {
  content: "";
  position: absolute;
  top: 50%;
  /* 19px+10px-0.5px(幅1pxの半分) */
  right: 28.5px;
  width: 1px;
  height: 20px;
  background: #222222;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq .ac .ac_parent:nth-of-type(even) {
  background: #f0f0f0;
}

.faq .ac .ac_parent:last-of-type {
  border-bottom: 1px solid #333333;
}

.faq .ac .ac_parent.open:after {
  top: 35%;
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq .ac .ac_parent.open:first-of-type {
  border-top: none;
}

.faq .ac .ac_parent.open:last-of-type {
  border-bottom: none;
}

.faq .ac .ac_parent p {
  max-width: 90%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 1em;
  text-indent: -1em;
}

@media (max-width: 767px) {
  .faq .ac .ac_parent p {
    max-width: 85%;
  }
}

.faq .ac .ac_child {
  display: none;
  padding-left: 20.5px;
  height: 85px;
  position: relative;
}

@media (max-width: 767px) {
  .faq .ac .ac_child {
    padding: 0;
  }
}

.faq .ac .ac_child:nth-of-type(even) {
  background: #f0f0f0;
}

.faq .ac .ac_child:last-of-type {
  border-bottom: 1px solid #333333;
}

.faq .ac .ac_child p {
  max-width: 90%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 1em;
  text-indent: -1em;
}

@media (max-width: 767px) {
  .faq .ac .ac_child p {
    max-width: 85%;
  }
}

/*===========
contact
===========*/
.contact {
  padding: 173px 0 110px;
  background: #2a84ac;
}

@media (max-width: 767px) {
  .contact {
    padding: 59px 0 60px;
  }
}

.contact .section_title {
  margin-bottom: 61px;
}

@media (max-width: 767px) {
  .contact .section_title {
    margin-bottom: 40px;
  }
}

.contact .section_title::after {
  content: "問い合わせはこちらより";
  display: block;
  font-size: 20px;
  margin-top: 14px;
}

@media (max-width: 767px) {
  .contact .section_title::after {
    font-size: 14px;
  }
}

.contact .form_item {
  width: 66.7%;
  background: #fff;
  padding: 20px 0 23px 19px;
  margin-bottom: 15px;
  border: 1px solid #333333;
}

@media (max-width: 767px) {
  .contact .form_item {
    width: 100%;
  }
}

.contact .form_item input {
  resize: none;
  width: 100%;
  height: 100%;
}

.contact .form_item ::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "NeueHaasUnicaW1G-Regular";
  letter-spacing: 0.12em;
  color: #808080;
}

.contact .form_item :-ms-input-placeholder {
  font-size: 18px;
  font-family: "NeueHaasUnicaW1G-Regular";
  letter-spacing: 0.12em;
  color: #808080;
}

.contact .form_item ::-ms-input-placeholder {
  font-size: 18px;
  font-family: "NeueHaasUnicaW1G-Regular";
  letter-spacing: 0.12em;
  color: #808080;
}

.contact .form_item ::placeholder {
  font-size: 18px;
  font-family: "NeueHaasUnicaW1G-Regular";
  letter-spacing: 0.12em;
  color: #808080;
}

.contact .form_item:last-of-type {
  width: 100%;
  height: 304px;
  margin-bottom: 40px;
}

.contact .form_item:last-of-type textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.contact .submit_btn {
  display: block;
  font-size: 24px;
  font-family: "din-condensed";
  width: 100%;
  line-height: 100px;
  background-color: #fecf07;
  border-radius: 80px;
  text-align: center;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .contact .submit_btn {
    font-size: 21px;
    line-height: 60px;
  }
}

.contact .submit_btn:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

/*===========
company
===========*/
.company {
  background: #2a84ac;
  padding: 115px 0 240px;
}

@media (max-width: 767px) {
  .company {
    padding: 68.5px 0 55px;
  }
}

.company .section_title {
  margin: 0 0 28px 10.8%;
}

@media (max-width: 767px) {
  .company .section_title {
    margin: 0 0 19px 6.26%;
  }
}

.company .table_wrapper {
  background: #ffffff;
  margin-left: 10.8%;
  padding: 109px 123px;
}

@media (max-width: 767px) {
  .company .table_wrapper {
    margin-left: 6.26%;
    padding: 40px 22px 50px;
  }
}

.company .table_wrapper table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 23.7px 0;
  font-size: 21px;
}

@media (max-width: 767px) {
  .company .table_wrapper table {
    font-size: 16px;
  }
}

.company .table_wrapper table tr:first-of-type th,
.company .table_wrapper table tr:first-of-type td {
  padding-top: 0;
}

.company .table_wrapper table tr:last-of-type th,
.company .table_wrapper table tr:last-of-type td {
  padding-bottom: 0;
  line-height: 1.9;
}

.company .table_wrapper table tr:not(:last-of-type) th,
.company .table_wrapper table tr:not(:last-of-type) td {
  border-bottom: 1px solid #c4c4c4;
}

.company .table_wrapper table tr th {
  text-align: right;
  padding: 32px 0 30px;
}

@media (max-width: 767px) {
  .company .table_wrapper table tr th {
    width: 60px;
  }
}

.company .table_wrapper table tr th .sp_br {
  display: none;
}

@media (max-width: 767px) {
  .company .table_wrapper table tr th .sp_br {
    display: block;
  }
}

.company .table_wrapper table tr td {
  padding: 32px 0 30px;
}

@media (max-width: 767px) {
  .company .table_wrapper table tr td {
    vertical-align: middle;
  }
}

/*===========
footer
===========*/
.footer {
  height: 46.4vw;
  background: #222222;
  position: relative;
}

@media (max-width: 767px) {
  .footer {
    height: 257px;
  }
}

.footer .copyright_pc {
  position: absolute;
  bottom: 49px;
  right: 51px;
  color: #ffffff;
  font-size: 18px;
  font-family: "din-condensed";
  letter-spacing: 0.1em;
}

@media (max-width: 767px) {
  .footer .copyright_pc {
    display: none;
  }
}

.footer .copyright_sp {
  display: none;
  position: absolute;
  bottom: 37px;
  right: 32px;
  color: #ffffff;
  font-size: 12px;
  font-family: "din-condensed";
  letter-spacing: 0.1em;
}

@media (max-width: 767px) {
  .footer .copyright_sp {
    display: block;
  }
}

.footer .page_top {
  position: absolute;
  top: 241px;
  left: 67px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer .page_top {
    position: absolute;
    top: 172px;
    left: 13px;
  }
}

.footer .page_top .arrow {
  background: #ffffff;
  width: 79px;
  height: 1px;
  position: relative;
}

.footer .page_top .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.5px 0 3.5px 9px;
  border-color: transparent transparent transparent #ffffff;
}

.footer .page_top .txt {
  color: #ffffff;
  font-family: "din-condensed";
  letter-spacing: 0.04em;
  margin-left: 10.5px;
}
/*# sourceMappingURL=style.css.map */